<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../../../main.html" />

<%namespace name='static' file='../../../static_content.html'/>

<%block name="pagetitle">${_("Terms of Service")}</%block>
<style>
  h1 {
  color: #c71e13;
  }

  li {
  color: #666 !important;
  }

  p {
  color: #666 !important;
  }
</style>
<section class="static-container tos">
  <h1>FormaX TERMINOS Y CONDICIONES DE LOS PROGRAMAS DE FORMACION CONTINUA</h1>
  <hr class="horizontal-divider"/>

  <h2 style="text-align: justify; color: #BB0002;">1.	CONDICIONES GENERALES<br/><br/></h2>
    <p>Para participar en los cursos virtuales que dicta el CEC-IAEN, usted debe primero leer y estar de acuerdo con los siguientes términos, si usted no está de acuerdo, no podrá participar en los cursos.</p>
    <p>CEC-IAEN, se reserva el derecho de modificar estos términos en cualquier momento y publicar un aviso en la página web institucional, una vez publicado usted está obligado a aceptar estos términos.</p>
  <br/><br/>

  <h2 style="text-align: justify; color: #BB0002;">2.	NORMAS DE CONDUCTA <br/><br/></h2>

  <p>Usted se compromete a no publicar:</p>
  <ol>
    <li>Por cualquier medio tecnológico o informático los contenido de los cursos en línea que dicte el CEC-IAEN.</li>
    <li>Contenidos que difamen o amenace a otros.</li>
    <li>Declaraciones o contenidos que violen las leyes.</li>
    <li>Contenidos que discutan actividades ilegales con la intención de cometerlas.</li>
    <li>Contenidos que infrinjan la propiedad intelectual de, incluyendo, pero no limitado a, derechos de autor, marcas registradas o secretos comerciales.</li>
    <li>Contenidos relacionados con las actividades políticas partidistas.</li>
    <li>El material que contiene (es decir pornográfico) lenguaje o imágenes obscenas.</li>
    <li>La publicidad o cualquier otra forma de solicitación comercial.</li>
    <li>Contenidos que sean ilegales.</li>
    <li>Contenidos intencionalmente engañosos o inexactos.</li>
    <li>El material con derechos de autor, incluyendo, sin limitación de software, gráficos, textos, fotografías, sonido, vídeo y grabaciones musicales, no se puede colocar en el campus virtual sin el permiso expreso del propietario de los derechos de autor en el material u otro derecho legal para utilizar el material .</li>
  </ol>
  <p>Usted se compromete a no atacar, alterar, inutilizar o deteriorar el campus o redes conectadas al campus virtual y a los entornos de aprendizaje virtuales del IAEN. Usted no puede usar el sitio a través de cualquier medio automatizado, como una pantalla-raspador o un robot. Esto no tiene por objeto excluir el uso de tecnología de asistencia para su propio uso, como los lectores de pantalla. Usted se compromete a no enviar ningún correo no solicitado a otros usuarios del sitio. Usted no puede mostrar el sitio dentro de un marco de otro sitio Web, o colocar las ventanas emergentes u otras tecnologías disruptivas sobre él.</p><br/>

  <h2 style="text-align: justify; color: #BB0002;">3.	RESPONSABILIDAD DE LOS CONTENIDOS<br/><br/></h2>

  <p>El texto y otros materiales en la plataforma  pueden incluir la opinión del docente específico y no son declaraciones de consejo, opinión, o información del CEC-IAEN. Si usted siente que podría ser ofendido por el contenido de los sitios, usted no debe continuar.</p>
  <p>Los sitios también pueden incluir las opiniones personales y otras expresiones por usuarios que publiquen entradas en una amplia gama de temas. Ni el contenido de los foros, ni los enlaces a otras páginas web, son examinados, revisados o  aprobados por el CEC-IAEN o por cualquier otra entidad relacionada. El CEC-IAEN no es un editor de cualquiera de los contenidos de los foros, o de cualquier contenido que pueda estar disponible a través de enlaces desde y hacia ellos.</p>

  <h2 style="text-align: justify; color: #BB0002;">4.	CÓDIGO DE HONOR<br/><br/></h2>

  <p>Al inscribirse o matricularse en el campus virtual usted se compromete a: completar todas las evaluaciones, los problemas, las tareas y trabajos con su propio trabajo (a menos que se permita expresamente la colaboración); reconocer cualquier y todas las fuentes externas utilizadas en su trabajo; abstenerse de cualquier actividad que de manera deshonesta o fraudulenta mejorar sus resultados o en desventaja a otros en el curso; abstenerse de revelar las respuestas a las evaluaciones, los problemas, las tareas y los deberes a los demás; mantener sólo una cuenta de usuario y no dejar que nadie más use su nombre de usuario y / o contraseña; y no acceder o intentar acceder a la cuenta de otro usuario, o falsificar o intentar falsificar su identidad durante el uso de la plataforma.</p>

  <h2 style="text-align: justify; color: #BB0002;">5.	MODIFICACIÓN O CANCELACIÓN DEL CURSO<br/><br/></h2>

  <p>Los cursos virtuales incluyendo los materiales, pueden contener errores y omisiones. Nos reservamos el derecho de corregir errores u omisiones, sin previo aviso. También nos reservamos el derecho de cancelar, suspender o reprogramar instructores o modificar cualquier curso o servicio.</p>
</section>
